.offer{
  margin-left: 25px;
}
.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.my-about-page , .my-contact-page , .my-home-page{
  overflow-y: auto;
  max-height: calc(100vh - 165px); /* Adjust the height to your preference */
}
select{
  cursor: pointer;
}
